<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sopt.server.mapper.UserMapper">
    <cache flushInterval="10000"/>

    <!--<select id="findByEmailAndPassword" resultType="org.sopt.server.dto.User">-->
        <!--SELECT *-->
        <!--FROM user-->
        <!--WHERE u_email = #{u_email}-->
        <!--AND u_password = #{u_password}-->
    <!--</select>-->

    <select id="findByUserIdx" parameterType="int" resultType="org.sopt.server.dto.User">
        SELECT *
        FROM user
        WHERE u_id = #{u_id}
    </select>

</mapper>
